*.bin
*.dSYM
*.o
bin
ols.json

# macOS
.DS_Store

# Output
examples/putting-it-together/chapter-02/projectile.ppm
examples/putting-it-together/chapter-04/clock.ppm
examples/putting-it-together/chapter-05/circle.ppm
examples/putting-it-together/chapter-06/sphere-phong-lighting.ppm